<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<appSettings>
		<!-- To enable internal log4net logging specify the following appSettings key -->
		<add key="log4net.Internal.Debug" value="false"/>
	</appSettings>
	<startup>
		<!-- supportedRuntime version="v1.1.4322" / -->
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="etas.eas.toolbase" culture="neutral" publicKeyToken="24eada690b1476fd"/>
				<codeBase version="1.0.0.0" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/etas.eas.toolbase.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="etas.eas.sarbase" culture="neutral" publicKeyToken="24eada690b1476fd"/>
				<codeBase version="1.0.0.0" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/etas.eas.sarbase.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="etas.eas.sarcore" culture="neutral" publicKeyToken="24eada690b1476fd"/>
				<codeBase version="1.0.0.0" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/etas.eas.sarcore.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="etas.eas.sarsutbridge2dotnet" culture="neutral" publicKeyToken="24eada690b1476fd"/>
				<codeBase version="1.0.0.0" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/etas.eas.sarsutbridge2dotnet.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="etas.eas.sarsutbridge" culture="neutral" publicKeyToken="24eada690b1476fd"/>
				<codeBase version="1.0.0.0" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/etas.eas.sarsutbridge.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="etas.eas.ReportHelper" culture="neutral" publicKeyToken="24eada690b1476fd"/>
				<codeBase version="1.0.0.0" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/etas.eas.ReportHelper.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Etas.Eas.Reporting.CurvePlotter.Interfaces" culture="neutral" publicKeyToken="24eada690b1476fd"/>
				<codeBase version="1.0.0.0" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/Etas.Eas.Reporting.CurvePlotter.Interfaces.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ETAS.EAS.ReportingFascade" culture="neutral" publicKeyToken="24eada690b1476fd"/>
				<codeBase version="1.0.0.0" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/ETAS.EAS.ReportingFascade.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ETAS.EAS.ReportService" culture="neutral" publicKeyToken="24eada690b1476fd"/>
				<codeBase version="1.0.0.0" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/ETAS.EAS.ReportService.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="etas.eas.sarcore" culture="neutral" publicKeyToken="24eada690b1476fd"/>
				<codeBase version="1.0.0.0" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/etas.eas.sarcore.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="etas.eas.util" culture="neutral" publicKeyToken="24eada690b1476fd"/>
				<codeBase version="1.0.0.0" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/etas.eas.util.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="etas.eas.dataclasses" culture="neutral" publicKeyToken="24eada690b1476fd"/>
				<codeBase version="1.0.0.0" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/etas.eas.dataclasses.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="etas.eas.sutmapping" culture="neutral" publicKeyToken="24eada690b1476fd"/>
				<codeBase version="1.0.0.0" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/etas.eas.sutmapping.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="etas.eas.ports" culture="neutral" publicKeyToken="24eada690b1476fd"/>
				<codeBase version="1.0.0.0" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/etas.eas.ports.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="etas.eas.tbcm" culture="neutral" publicKeyToken="24eada690b1476fd"/>
				<codeBase version="1.0.0.0" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/etas.eas.tbcm.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Interop.UnitConverter" culture="neutral" publicKeyToken="24eada690b1476fd"/>
				<codeBase version="1.0.0.0" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/Interop.UnitConverter.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="etas.eas.setupmanager" culture="neutral" publicKeyToken="24eada690b1476fd"/>
				<codeBase version="1.0.0.0" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/etas.eas.setupmanager.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ETAS.LCA.Logging" culture="neutral" publicKeyToken="24eada690b1476fd"/>
				<codeBase version="1.0.0.0" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/ETAS.LCA.Logging.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" culture="neutral" publicKeyToken="1b44e1d426115821"/>
				<codeBase version="1.2.10.0" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/log4net.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Etas.Eas.Atcl.Interfaces" culture="neutral" publicKeyToken="24eada690b1476fd"/>
				<codeBase version="1.0.0.0" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/Etas.Eas.Atcl.Interfaces.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Etas.Eas.Atcl.Core" culture="neutral" publicKeyToken="24eada690b1476fd"/>
				<codeBase version="1.0.0.0" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/Etas.Eas.Atcl.Core.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Etas.Eas.Atcl.Design" culture="neutral" publicKeyToken="24eada690b1476fd"/>
				<codeBase version="1.0.0.0" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/Etas.Eas.Atcl.Design.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="LCA_TestHandler.RemotingInterfaces" culture="neutral" publicKeyToken="24eada690b1476fd"/>
				<codeBase version="1.0.0.0" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/LCA_TestHandler.RemotingInterfaces.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ETAS.EAS.MetaDataFactoryFascade" culture="neutral" publicKeyToken="24eada690b1476fd"/>
				<codeBase version="1.0.0.0" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/ETAS.EAS.MetaDataFactoryFascade.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Spring.Core" culture="neutral" publicKeyToken="65e474d141e25e07"/>
				<codeBase version="1.1.0.1" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/Spring.Core.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" culture="neutral" publicKeyToken="65e474d141e25e07"/>
				<codeBase version="1.1.0.1" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/Common.Logging.dll"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr.Runtime" culture="neutral" publicKeyToken="65e474d141e25e07"/>
				<codeBase version="2.7.6.2" href="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/antlr.runtime.dll"/>
			</dependentAssembly>
			<probing privatePath="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin"/>
		</assemblyBinding>
		<gcConcurrent enabled="true"/>
	</runtime>
	<!-- This section contains the log4net configuration settings -->
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<param name="File" value="c:\ETAS\LABCAR-AUTOMATION3.1/TestTools/bin/logging/testcase.log"/>
			<param name="AppendToFile" value="false"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%x] %d [%t] %-5p %c-%m%n"/>
			</layout>
		</appender>
		<!-- Setup the root category, add the appenders and set the default priority -->
		<root>
			<level value="ALL"/>
			<!-- appender-ref ref="ConsoleAppender" /-->
			<!-- appender-ref ref="RollingFileAppender" /-->
			<appender-ref ref="FileAppender"/>
		</root>
		<logger name="ETAS.EAS.SystemAdapter.Remoting.Wrapper.SARClientRemotingWrapper">
			<level value="ALL"/>
		</logger>
	</log4net>
</configuration>
